<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="/css/wheel.css" rel="stylesheet">
</head>
<body>
<div class="task">
  <div class="border"></div>
</div>

<div class="wrapper">
  <div class="wheel"></div>
  <svg class="pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <path d="M20,0 L50,100 80,0 50,20 " />
  </svg>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
<script src="/js/wheel.js"></script>
</body>
</html>